@media (max-width:800px ){	
    html, body{ /*Para prevenir bug da view do navegador ao usar viewport (hv)*/
        height:100%;
        width:100%;
    }
    .bloco{
        height:calc(100% + 75px);
    }
    .bloco h1,h2{
        font-size:30px;
        margin-top:20px;
    }
    .bloco img{
        height:10em;
    }
    .bloco img:hover{
        height:15em;
        transition:0.5s;
    }
    .pag1 .profile img{
        height:100px;
    }
    .bloco ul{
        justify-content: space-around;
        flex-direction: column;
        margin-top:40px;
    }
    .bloco li{
        padding:10px;
        width:auto;
        height:auto;
    }
    .bloco span{
        display:none;
    }
    .bloco p {
        display:none;
    }
    .rodape{
        height:50%;
    }
    .rodape ul{
        flex-direction:row;
        
    }
    .rodape img{
        height:80px;
    }
    .rodape img:hover{
        height:100px;
    }
}

@media (min-width:600px)and (max-width:1500px){
    .bloco{
        width:100%;
    }
    .bloco li{
        padding-left:5px;
    }
    .bloco p{
        width:30em;
    }
    .rodape h2 p{
        margin:50px;
    }
}
