.bloco{
    height:100vh;
    
    display:flex;
    flex-direction:column;
  
    align-items: center;
    justify-content: center;
}
.bloco ul{
    display:flex;
    flex-direction:row;
    align-items: center;
    height:60vh;
}
.bloco li{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:40px;
}
.bloco h1{
    margin-top:50px;
}
.bloco img{
    height:15em;
    transition:0.5s height;
}
.bloco img:hover{
    height:17em;
    transition:0.5s;
}
.bloco span{
    margin-bottom:25px;
}
.bloco p {
    margin-top:40px;
    width:800px;
    text-align:center;
}
.rodape{
    height:50vh;
}
.rodape img{
    height:150px;
}
.rodape img:hover{
    height:170px;
}
.rodape ul{
    height:25vh;
}
.tarja{
    height: 15vh;
    background:salmon;
    color:white;
}
