@font-face{
    font-family:"imagine";
    src: url("assets/imagine-font-regular.otf");
}
@font-face{
    font-family:"graystroke";
    src: url("assets/GRAYSTROKE.otf");
}
.pag1,.pag3,.pag5{
    background-color:rgb(82, 126, 197);
    color:#f2f7fa;
}
.pag2,.pag4,.rodape{
    background-color:#f2f7fa;
    color:#456EB0;
}
.profile{
    border-radius:50%;
}
.bloco h1,h2{
    font-family:graystroke;
    font-size:50px;
}
.bloco p{
    font-family:consolas, sans-serif;
    font-size:20px;
    font-weight: bold;
}
.bloco span{
    font-family:imagine,sans-serif;
    font-size:40px;
}
